<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<table border="1" cellpadding="5" cellspacing="0">
    <caption>Вклады</caption>
    <tr valign="top" align="center">
        <td colspan="3" align="center">Pasha</td>
        <td colspan="2" align="center">Lena</td>
        <td colspan="2" align="center">Kolya</td>
        <td colspan="2" align="center">Mama</td>
    </tr>
    <tr>
        <th>Вклад 1, 12%</th>
        <th>Вклад 2</th>
        <th>Вклад 3</th>

        <th>Вклад 4</th>
        <th>Вклад 5</th>

        <th>Зимнее настроение, пополняемый, 6.6%</th>
        <th>Зимнее настроение, пополняемый, 7.6%</th>

        <th>Зимнее настроение, пополняемый, 6.6%</th>
        <th>Зимнее настроение, пополняемый, 7.6%</th>
    </tr>
    <tr valign="top">
        <!-- Вклад 1 -->
        <td>
            <table>
                <tr>
                    <td>300</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>200</td>
                    <td>8</td>
                </tr>
            </table>
        </td>

        <!-- Вклад 2 -->
        <td>
            <table class="incomes">
                <tr>
                    <td title="Внесено 20 января 2020">500</td>
                    <td title="500*0,066*344/365">21</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>200</td>
                    <td>8</td>
                </tr>
                <tfoot>
                <tr>
                    <td>600</td>
                    <td>35</td>
                </tr>
                </tfoot>
            </table>
        </td>

        <!-- Вклад 3 -->
        <td>
            <table>
                <tr>
                    <td>500</td>
                    <td>21</td>
                </tr>
            </table>
        </td>

        <!-- Вклад 4 -->
        <td>
            <table>
                <tr>
                    <td>500</td>
                    <td>21</td>
                </tr>
            </table>
        </td>

        <!-- Вклад 5 -->
        <td>
            <table>
                <tr>
                    <td>500</td>
                    <td>21</td>
                </tr>
            </table>
        </td>

        <!-- Вклад 6 -->
        <td>
            <table class="incomes">
                <tr>
                    <td>500</td>
                    <td>21</td>
                    <td>521</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>6</td>
                    <td>106</td>
                </tr>
                <tr>
                    <td>200</td>
                    <td>8</td>
                    <td>208</td>
                </tr>
                <tr>
                    <td>200</td>
                    <td>8</td>
                    <td>208</td>
                </tr>
                <tr>
                    <td>200</td>
                    <td>8</td>
                    <td>208</td>
                </tr>
                <tr>
                    <td>200</td>
                    <td>8</td>
                    <td>208</td>
                </tr>
            </table>
        </td>

        <!-- Вклад 7 -->
        <td>
            <table>
                <tr>
                    <td>500</td>
                    <td>21</td>
                </tr>
            </table>
        </td>

        <!-- Вклад 8 -->
        <td>
            <table>
                <tr>
                    <td>500</td>
                    <td>21</td>
                </tr>
            </table>
        </td>

        <!-- Вклад 9 -->
        <td>
            <table>
                <tr>
                    <td>500</td>
                    <td>21</td>
                </tr>
            </table>
        </td>
    </tr>

<!--    <tr>-->
<!--        <td>600</td>-->
<!--        <td>35</td>-->
<!--    </tr>-->
</table>


</body>
</html>