<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        a {
            text-decoration: none; /* Отменяем подчеркивание у ссылки */
        }
        A:visited {
            color: blue;
        }

        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
        }

        .active, .collapsible:hover {
            background-color: #555;
        }

        .content {

            max-height: 0;
            max-width: 0;
            overflow: hidden;
            transition: max-weight 0.5s ease-out, max-height 0.5s ease-out;
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>

<div th:each="entry: ${groupAndPersons.entrySet()}">

<table border="1" cellpadding="5" cellspacing="0" class="wrapperTable" bgcolor="#f5f5dc">

    <tr valign="top" align="center">
        <td th:each="person: ${entry.getValue()}">
            <table class="personTable" bgcolor="#f0fff0" >
                <tr>
                    <td>
                        Клиент: <a th:href="@{/person/view(personId=${person.id})}" th:text="${person.name}"></a><br/>
                        <div th:text="'На вкладах ' + ${personToMoneyTotal[person.id]}"/>
                        <div th:text="'Остатки на картах ' + ${personToCardsBalanceTotal[person.id]}"/>
                        <div th:text="'Итого денег ' + ${personToMoneyTotal[person.id] + personToCardsBalanceTotal[person.id]}"/>
<!--                        <a th:href="@{/card/add(personId=${person.id})}" ></a><br/>-->
                        <a th:href="@{/card/add(personId=${person.id})}">
                            <img th:src="@{img/add.png}" title="Открыть новую карту"/>
                        </a>
                        <hr/>
                        <table class="cardTable" bgcolor="#faebd7" >
                            <tr valign="top">
                                <td th:each="card: ${person.cards}">
                                    <table class="cardInfoTable">
                                        <a th:href="@{/card/view(cardId=${card.id})}"
                                           th:text="${card.owner.name + ' ' +card.bank+' '+#calendars.format(card.openDate, 'dd-MM-yyyy')}">
                                        </a>
                                        <tr>
                                            <td>Сумма по вкладам</td>
                                            <td th:text="${cardsTotal[card.id]}"/>
                                        </tr>
                                        <tr>
                                            <td>Ожидаемые проценты</td>
                                            <td th:text="${#numbers.formatDecimal(@cardService.getRevenue(card),2,2)}"/>
                                        </tr>
                                        <tr>
                                            <td>Текущий остаток</td>
                                            <td th:text="${card.balance}"/>
                                        </tr>

                                        <tr>
                                            <td>Осталось дней</td>
                                            <td th:text="${@cardService.getRemainingDaysCount(card)}"/>
                                        </tr>
                                    </table>

                                    <a th:href="@{/card/addMoney(cardId=${card.id})}">
                                        <img th:src="@{img/add_money.png}" title="Пополнить карту"/>
                                    </a>

                                    <a th:href="@{/card/close(cardId=${card.id})}">
                                        <img th:src="@{img/done.png}" title="Закрыть карту"/>
                                    </a>

                                    <a th:href="@{/deposit/open(cardId=${card.id})}">
                                        <img th:src="@{img/add.png}" title="Открыть вклад"/>
                                    </a>

                                    <a th:href="@{/card/delete(cardId=${card.id})}">
                                        <img th:src="@{img/remove.png}" title="Удалить карту"/>
                                    </a>

                                    <a th:href="@{/card/view(cardId=${card.id})}">
                                        <img th:src="@{img/info.png}" title="Посмотреть расходы"/>
                                    </a>

<!--                                    <table>-->
<!--                                        <tr>-->
<!--                                            <td><a th:href="@{/card/addMoney(cardId=${card.id})}">Пополнить карту</a></td>-->
<!--                                            <td><a th:href="@{/card/close(cardId=${card.id})}">Закрыть карту</a></td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td><a th:href="@{/deposit/open(cardId=${card.id})}">Оформить вклад</a></td>-->
<!--                                            <td><a th:href="@{/card/delete(cardId=${card.id})}">Удалить карту</a></td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td><a th:href="@{/card/view(cardId=${card.id})}">Посмотреть расходы</a></td>-->
<!--                                        </tr>-->
<!--                                    </table>-->
                                    <hr/>
                                    <table class="depositTable" bgcolor="#dcdcdc" cellpadding="4">
                                        <tr valign="top">
                                            <td th:each="deposit: ${card.deposits}" th:if="${deposit.active}">
                                                <table bgcolor="#f0ffff" cellpadding="3">
                                                    <a th:href="@{/deposit/edit(depositId=${deposit.id})}"
                                                       th:text="${'От ' + #calendars.format(deposit.startDate, 'dd-MM-yyyy') +
                                                       ' до ' + #calendars.format(deposit.endDate, 'dd-MM-yyyy') +' под ' + deposit.percent+'%'}"
                                                    /><br/>
                                                </table>

                                                <a class="collapsible">Подробности</a>
                                                <div class="content">
                                                        <table cellspacing="5" cellpadding="1" bgcolor="#f0f8ff" >
                                                            <a th:href="@{/deposit/refill(depositId=${deposit.id})}" th:if="${deposit.refillable}">
                                                                <img th:src="@{img/add_money.png}" title="Пополнить вклад"/>
                                                            </a>

                                                            <a th:href="@{/deposit/close(depositId=${deposit.id})}">
                                                                <img th:src="@{img/done.png}" title="Закрыть вклад"/>
                                                            </a>

                                                            <a th:href="@{/deposit/delete(depositId=${deposit.id})}">
                                                                <img th:src="@{img/remove.png}" title="Удалить без закрытия"/>
                                                            </a>

                                                            <div th:text="${deposit.refillable} ? 'Вклад пополняемый' : 'Вклад не пополняемый'"/>
                                                            <div th:text="'Свободное место: ' + ${depositFreeSpaces[deposit.id]}"/>
                                                            <tr align="right">
                                                                <td>Дата</td>
                                                                <td>Сумма</td>
                                                                <td>Чье</td>
                                                                <td>Проценты</td>
                                                                <td>Итог</td>
                                                            </tr>
                                                            <tr th:each="income: ${deposit.incomes}" align="right">
                                                                <td nowrap th:text="${#calendars.format(income.date, 'dd-MM-yyyy')}"/>
                                                                <td>
                                                                    <a th:href="@{/income/edit(incomeId=${income.id})}" th:text="${income.value}"/>
                                                                </td>
                                                                <td th:text="${income.owner.name}"/>
                                                                <td th:text="${#numbers.formatDecimal(@incomeService.calculateRevenue(income),1,0)}"
                                                                    th:title="${@incomeService.getRevenueClarification(income)}"/>
                                                                <td th:text="${#numbers.formatDecimal(@incomeService.calculateTotal(income),1,0)}"/>
                                                            </tr>
                                                            <tr valign="bottom" align="right">
                                                                <td><b>Итог</b></td>
                                                                <td><b th:text="${#aggregates.sum(deposit.incomes.![value])}"/></td>
                                                                <td/>
                                                                <td><b th:text="${#numbers.formatDecimal(@depositService.calculateRevenue(deposit), 1, 0)}" /></td>
                                                                <td><b th:text="${#numbers.formatDecimal(@depositService.calculateTotal(deposit)+@depositService.calculateRevenue(deposit), 1, 0)}" /></td>
                                                            </tr>
                                                        </table>

                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>

    </tr>

</table>
    <br/>
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }

            if (content.style.maxWidth) {
                content.style.maxWidth = null;
            } else {
                content.style.maxWidth = content.scrollWidth + "px";
            }
        });
    }
</script>
</body>
</html>