<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<H5>Редактирование данных по вкладу</H5>

<table>
    <caption>Данные по карте</caption>
    <tr>
        <td>Владелец карты</td>
        <td>
            <input type="text" disabled="true" th:value="${deposit.card.owner.name}"/>
        </td>
    </tr>
    <tr>
        <td>Дата открытия карты</td>
        <td>
            <input type="text" name="cardOpenDate" disabled="true"
                   th:value="${#calendars.format(deposit.card.openDate, 'dd-MM-yyyy')}"/>
        </td>
    </tr>
    <tr>
        <td>Банк</td>
        <td>
            <input type="text" name="bankName" disabled="true" th:value="${deposit.card.bank}"/>
        </td>
    </tr>
    <tr>
        <td>Сумма на карте</td>
        <td>
            <input type="text" name="balance" disabled="true" th:value="${deposit.card.balance}"/>
        </td>
    </tr>
</table>

<form>
    <table>
        <caption>Данные вклада</caption>
        <tr>
            <td>Годовая ставка</td>
            <td>
                <input type="text" name="percent" th:value="${deposit.percent}"/>
            </td>
        </tr>
        <tr>
            <td>Дата открытия вклада</td>
            <td>
                <input type="date" name="depositOpenDate" th:value="${#calendars.format(deposit.startDate, 'yyyy-MM-dd')}"/>
            </td>
        </tr>
        <tr>
            <td>Срок вклада (в днях)</td>
            <td>
                <input type="text" name="duration" th:value="${deposit.duration}"/>
            </td>
        </tr>
    </table>

    <input type="hidden" name="depositId" th:value="${deposit.id}"/>
    <input type="submit" formmethod="post" value="Сохранить"/>
</form>
</body>
</html>